alura/
cev/
cisco/
ebac/
empowerdata/
full_cycle/
hashtag/
microsoft_learn/
outros/

xperiun/figma/
xperiun/power_bi/curso_048
xperiun/power_bi/curso_051
xperiun/power_bi/curso_069/BaseDados/
xperiun/power_bi/curso_069/curso_069.pbix
xperiun/power_bi/curso_069/desafio_kickstart_01.pdf
xperiun/power_bi/curso_069/plano_fundo_resolucao.pptx
xperiun/power_bi/curso_069/plano_fundo_resolucao.svg


simplifica_trein/