alura/
cev/
cisco/
ebac/
empowerdata/
full_cycle/
hashtag/
microsoft_learn/
outros/

simplifica_trein/excel/curso_059/*
!simplifica_trein/excel/curso_059/README.md
!simplifica_trein/excel/curso_059/0-aux

simplifica_trein/power_bi/curso_043/*
!simplifica_trein/power_bi/curso_043/README.md
!simplifica_trein/power_bi/curso_043/0-aux
simplifica_trein/power_bi/curso_043/0-aux/1F?- Referências de Cores.pptx

xperiun/figma/
xperiun/power_bi/curso_048
xperiun/power_bi/curso_051

xperiun/power_bi/curso_069/*
!xperiun/power_bi/curso_069/README.md
!xperiun/power_bi/curso_069/0-aux
