.github/
alura/
cev/
cisco/
ebac/

cloud_treinamentos/aws/curso_080/secrets

empowerdata/excel/curso_065/*
!empowerdata/excel/curso_065/README.md
!empowerdata/excel/curso_065/0-aux
empowerdata/power_bi/curso_073/*
!empowerdata/power_bi/curso_073/README.md
!empowerdata/power_bi/curso_073/0-aux



full_cycle/


hashtag/excel/*
!hashtag/excel/README.md

!hashtag/excel/curso_018/
hashtag/excel/curso_018/*
!hashtag/excel/curso_018/README.md
!hashtag/excel/curso_018/0-aux

!hashtag/excel/curso_019/
hashtag/excel/curso_019/*
!hashtag/excel/curso_019/README.md
!hashtag/excel/curso_019/0-aux

!hashtag/excel/curso_060/
hashtag/excel/curso_060/*
!hashtag/excel/curso_060/README.md
!hashtag/excel/curso_060/0-aux

hashtag/power_apps
hashtag/power_bi/*
!hashtag/power_bi/README.md

!hashtag/power_bi/curso_040/
hashtag/power_bi/curso_040/*
!hashtag/power_bi/curso_040/README.md
!hashtag/power_bi/curso_040/0-aux

!hashtag/power_bi/curso_041/
hashtag/power_bi/curso_041/*
!hashtag/power_bi/curso_041/README.md
!hashtag/power_bi/curso_041/0-aux

!hashtag/power_bi/curso_045/
hashtag/power_bi/curso_045/*
!hashtag/power_bi/curso_045/README.md
!hashtag/power_bi/curso_045/0-aux

hashtag/vba

microsoft_learn/

outros/fabricio_veronez/devops/curso_081/automation/resources/iac1/.terraform
outros/fabricio_veronez/devops/curso_081/automation/resources/iac1/.terraform.lock.hcl
outros/fabricio_veronez/devops/curso_081/automation/resources/iac1/terraform.tfstate.backup
outros/fabricio_veronez/devops/curso_081/automation/resources/iac1/terraform.tfstate
outros/fabricio_veronez/devops/curso_081/automation/resources/iac2/.terraform
outros/fabricio_veronez/devops/curso_081/automation/resources/iac2/.terraform.lock.hcl
outros/fabricio_veronez/devops/curso_081/automation/resources/iac2/terraform.tfstate.backup
outros/fabricio_veronez/devops/curso_081/automation/resources/iac2/terraform.tfstate
outros/fabricio_veronez/devops/curso_081/automation/secrets/

outros/karine_lago/curso_072/*
!outros/karine_lago/curso_072/README.md
!outros/karine_lago/curso_072/0-aux

simplifica_trein/excel/curso_059/*
!simplifica_trein/excel/curso_059/README.md
!simplifica_trein/excel/curso_059/0-aux

simplifica_trein/power_bi/curso_043/*
!simplifica_trein/power_bi/curso_043/README.md
!simplifica_trein/power_bi/curso_043/0-aux
simplifica_trein/power_bi/curso_043/0-aux/1F?- Referências de Cores.pptx

simplifica_trein/power_bi/curso_075/*
!simplifica_trein/power_bi/curso_075/README.md
!simplifica_trein/power_bi/curso_075/0-aux

xperiun/figma/
xperiun/power_bi/curso_048/*
!xperiun/power_bi/curso_048/README.md
!xperiun/power_bi/curso_048/0-aux

xperiun/power_bi/curso_051/*
!xperiun/power_bi/curso_051/README.md
!xperiun/power_bi/curso_051/0-aux

xperiun/power_bi/curso_069/*
!xperiun/power_bi/curso_069/README.md
!xperiun/power_bi/curso_069/0-aux

xperiun/power_bi/curso_074/*
!xperiun/power_bi/curso_074/README.md
!xperiun/power_bi/curso_074/0-aux
